body {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

canvas {
    background-color: #282c34;
    border: 1px solid #61dafb;
}

#console {
    width: 800px;
    height: 50px;
    background-color: #21252b;
    border: 1px solid #61dafb;
    border-top: none;
    padding: 10px;
    overflow-y: scroll;
    font-size: 14px;
}
